/** general definitions */
div.row{
    padding: 10px;
    background-color: #fafbfc;
}

/** map */
#mainmap {
    background-color: #fafbfc;
    width: 100%;
    padding: 6px;
}
.mm-col{
    padding-right: 0;
    padding-left: 0;;
}

.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

/** Menu bar */
.menu-bar{
    background-color: #24292e;
    height: 55px;
    color: white;
    padding: calc(0.6%);
}
.mb-row{
    padding: 0px !important;
}

/** Tree view */
/* #treeview{
    background-color: #f5f6f7;
} */

/** Detail area */
.detail{
    padding: 10px;
    border-top: 1px solid #c8c8c8;
}